body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: url(assets/background.png) no-repeat center center;
    background-size: 100% 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header,.nav>a,button{
    color: white;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.Quote{
    padding: 15px 40px;
    background-color: #0089e4;
    border-collapse: collapse;
    border: none;
    border-radius: 5px;
}
.a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}
.left{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 80vh;
}
.left>div>h1{
    font-size: 4em;
    margin-bottom: 0;
}
.left>div>p{
    font-size: 20px;
    margin-bottom: 0;
}
.btgp1{
    display: flex;
    justify-content: start;
    gap: 25px;
}
.bt1,.bt2{
    padding: 15px 40px;
    border-radius: 50px;
}
.bt1{
    background-color: #0089e4;
    border-collapse: collapse;
    border: none;
}
.bt2{
    background: transparent;
    border: 1px solid white;
}
.right{
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    
}
.right>h1{
    text-align: center;
    font-size: 30px;
}
input,.bt3,select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #fdf8f8ad;
    border: 1px solid #757272;
}
.bt3{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #0089e4;
    border-collapse: collapse;
    border: none;
}
label,input,select{
    margin-top: 20px;
}
.b{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px 0; 
}
.b>h1{
    font-size: 3em;
    margin-bottom: 0;
}
.b>p{
    color: #818181;
}
.f>div>.material-symbols-outlined {
    font-size: 3em;
    border: 2px solid #98c4ec;
    padding: 20px;
    border-radius: 200px;
    color: #98c4ec;
    background-color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.f{
    width: 300px;
}
.features{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border-radius: 5px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #98c4ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 25px;
}
.top>div{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
li{
    list-style-type: none;
    padding-top: 5px;
}
li>a{
    color: #0089e4;
}
.bottom{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid #98c4ec;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.c{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    background-color: #ebebebd2;
    text-align: center;
    padding: 50px 0;
  
}
.c>h1{
    font-size: 3em;
    margin-bottom: 0;
}
.c>p{
    color: #818181;
}
.reviews>div>.material-symbols-outlined{
  color: gold;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined{
  color: gold;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.reviews{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.reviews>div{
    background-color: white;
    border: 2px solid #c5c5c5;
    border-radius: 5px;
    padding: 40px;
}
.FAQ{
    text-align: center;
}
.FAQ>h1{
    font-size: 3em;
}
.FAQ>p{
    color: #818181;
}
.FAQ>.F>div>.material-symbols-outlined {
    color: #0089e4;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.F{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.quick{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    text-align: left;
}
.e{
    background-color: #ebebebd2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 25px 0;
    height: 100vh;
}
.e>h1{
    font-size: 2em;
    margin:  0;
}
.e>p{
    color: #818181;
    text-align: center;
}
.Plans{
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.Plans>div{
    width: 30vw;
    border: 2px solid #0089e4;
    border-radius: 10px;
}
.high{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242c44;
    color: white;
    height: 650px;
    width: 30vw;
}
.high>p,.low>p{
    text-align: center;
}
.low{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 10px;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    display: flex;
    align-items: center;
    }
.price>div>h2{
    font-size: 2em;
}
div>.li>.material-symbols-outlined {
    font-size: 3em;
    color: #07a007;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
span>p>.material-symbols-outlined {
    font-size: 3em;
    color: #818181;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.bt4{
    padding: 10px 60px;
    background-color: #0089e4;
    border-collapse: collapse;
    border: none;
    border-radius: 5px;
}
.g{
    background-color: #282c44;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 30px 0;
    margin: 0;
}
.g>div>h1{
    font-size: 3em;
    margin-bottom: 0;
}
.inline{
    display: flex;
    justify-content: center;
    align-items: end;
}
input{
    background-color: white;
    height: 5vh;
}
.bt5{
    background-color: #0089e4;
    border-collapse: collapse;
    border: none;
    border-radius: 5px;
    height: 6vh;
    padding: 0 20px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
footer>div>p>a{
    color: black;
}
.rights{
    text-align: center;
    background-color: #ebebebd2;
    padding: 50px;
    font-size: 20px;
}
.fa {
    color: #0089e4;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    padding: 10px 15px;
  }
.fa-facebook{
    color: white;
    background-color: #0089e4;
    border-radius: 100%;
}  
